@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
/* 
COLOURS
background: rgba(0, 0, 0, 0.1);
color: #777;
background-color: #fff;
box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
color: #6feaf6;
*/
* , *::before, *::after
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}


body
{
  font-family: 'Lato', sans-serif;
  background-color: #242333;
  color: #fff;
  min-height: 100vh;
  width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-1
{
  margin: 20px 0;
  width: 300px;
  height: 300px;
  background-color: #02f;
}
.references
{
  background-color: #f4233f;
  height: 40px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.references > div, ul > li
{
  display: inline-block;
  width: 15px;
  border-radius: 40px 40px 0px 0px;
  height: 12px;
  background-color: #0f0;
}
ul > li
{
  list-style-type: none;
  width: 15px;
  height: 12px;
  background-color: #fafa03;
 
}
div.seating-cinema
{
  background-color: aqua;
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: space-between;
}
div.seating-cinema > ul
{
  width: 110px;
  background-color:#f4233f;

}