@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
/* 
COLOURS
background: rgba(0, 0, 0, 0.1);
color: #777;
background-color: #fff;
box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
color: #6feaf6;
*/
* , *::before, *::after
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: 'Lato', sans-serif;
}
