@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root{
  --success-color:rgb(103, 212, 167);
  --error-color:#fd6868;
}

* {
  box-sizing: border-box;
  
}


.container-1 {
  background-color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
}


#form-1 {
  background-color: rgb(173, 216, 216,0.8);
  flex-basis: 30%;
  border: 1px #ccc solid;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  padding: 30px 40px;
}

#form-2 {
  background-color: rgba(182, 236, 230, 0.8);
  flex-basis: 30%;
  border: 1px #ccc solid;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  padding: 30px 40px;
}

h2{
  text-align: center;
  margin-bottom: 0 0 10px;
}

.form-control{
  margin-bottom: 5px;
  padding-bottom: 5px;
  position: relative;
}

.form-control label{
  color: #777;
  display: block; /*occupy whole line*/
  margin-bottom: 5px;
}

.form-control input{
  display: block; /*occupy whole line*/
  border: 2px solid #f0f0f0;
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 5px;
  width: 100%;
  font-size: 14px;
}

.form-control input:focus{
  outline: 0;
  border-color:silver;
}

.form-control.success input{
  outline: 0;
  border-color: var(--success-color);
}

.form-control.error input{
  outline: 0;
  border-color: var(--error-color);
}

.form-control small{
  color: var(--error-color);
  position: absolute;
  right:0;
  bottom: 0;
  font-size: 9px;
  visibility: hidden;
}

.form-control.error small{
  visibility: visible;
}

.form button{
  display: block;
  padding: 5px;
  border: 2px solid rgba(100, 110, 253, 0.5);
  border-radius: 10px;
  background-color: rgba(156, 202, 255, 0.5);
  cursor: pointer;
}